.listaprincipal{
  
    position: absolute;
    border: solid black 1px;
    background-color: rgba(129, 93, 80, 0.966);
    padding: 10px;
}
.asir{
    z-index: 1;
    display: none;
    position: absolute;
    list-style: none;
}
    .masir{
        border: solid black 1px;
        background-color: rgb(252, 252, 252);
        width: 200px;
    }
    .masir:hover{
        background-color: rgb(104, 24, 24);
        color: aliceblue;
    }
    

.modulos{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    text-align: center;
    height: 20px;
    width: 60px;
    border: solid black 1px;
    background-color: rgb(255, 255, 255);
}
.modulos:hover .asir{
    display: block;
}
