.box {
    height: 50px;
    margin: 5px;
    border: 1px solid #333;
  }

  .inline {
    display: inline;
    background-color: lightblue;
  }

  .inline-block {
    display: inline-block;
    background-color: lightgreen;
  }

  .block {
    display: block;
    background-color: lightcoral;
  }