header {
    display: flex;
    background-color: rgb(144, 68, 216);
    color: aliceblue;
    font-size: 15px;
    font-family: 'Pixelify Sans', sans-serif;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

}

a {

    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;

}

body {

    margin: 0;
    background-color: gray;


}

a {

    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;

}


#juegosfila1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin: 30px;

}

#juegosfila2 {
    display: flex;
    justify-content: center;
    margin: 30px;

}

#juegosfila3 {
    display: flex;
    justify-content: center;
    margin: 30px;

}

footer {
    background-color: rgb(144, 68, 216);
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}